#root {
  
  text-align: center;
}

.lcf-bg-primary {
  background-color: var(--lcf-bg-dark) !important;
}

.lcf-bg-secondary {
  background-color: var(--lcf-bg-light) !important;
}

.btn-primary {
  background-color: var(--lcf-btn-primary) !important;
  border-color: black;
}

.invoice-list-table {
  --bs-table-bg: #d2d4d5;
  --bs-table-border-color: #696969;
  --bs-table-striped-bg: #ecedee;
  --bs-table-active-bg: #dfe0e1;
  --bs-table-hover-bg: #74afe9;
  border-color: var(--lcf-bs-table-border-color) !important;
}

.sidebar-nav {
  --bs-nav-link-padding-x: 0.5rem !important;
  --bs-nav-link-padding-y: 0.5rem !important;
  --bs-nav-pills-link-active-bg: var(--lcf-bg-light);
}

.invoice-page-tabs {
  border-top-left-radius: .675rem !important;
  border-top-right-radius: .675rem !important;
  border-bottom: 0 !important;
}

.invoice-page-tabs .nav-link:not(.active){
  background-color: var(--bs-dark);
  background-image: var(--bs-gradient);
  color: #ffffff8c;
  border-color: var(--bs-nav-tabs-link-active-border-color);
  border-bottom-color: var(--lcf-bg-dark);
  border-bottom-right-radius: 0.132rem;
}

.invoice-page-tabs .nav-link.active {
  background-color: var(--lcf-bg-dark);
  background-image: var(--bs-gradient);
  color: #ffffff;
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  border: var(--bs-nav-tabs-border-width) solid var(--lcf-bg-dark);
}

.invoice-page-tabs + .tab-content,
.invoice-page-tabs ~ .tab-content {
  border-top: .2rem solid var(--lcf-bg-dark);
  border-radius: 0 .675rem 0 .675rem;
}

.invoice-page-cards {
  flex-basis: 0;
  min-width: 0;
  border-top-left-radius: 0;
  border-radius: .367rem;
}