#root {
  
  text-align: center;
}

.lcf-bg-primary {
  background-color: var(--lcf-bg-dark) !important;
}

.lcf-bg-secondary {
  background-color: var(--lcf-bg-light) !important;
}

.btn-primary {
  background-color: var(--lcf-btn-primary) !important;
  border-color: black;
}

.invoice-list-table {
  --bs-table-bg: #d2d4d5;
  --bs-table-border-color: #696969;
  --bs-table-striped-bg: #ecedee;
  --bs-table-active-bg: #dfe0e1;
  --bs-table-hover-bg: #74afe9;
  border-color: var(--lcf-bs-table-border-color) !important;
}

.sidebar-nav {
  --bs-nav-link-padding-x: 0.5rem !important;
  --bs-nav-link-padding-y: 0.5rem !important;
  --bs-nav-pills-link-active-bg: var(--lcf-bg-light);
}

.invoice-page-tabs .nav-link:not(.active){
  background-color: var(--lcf-bg-light);
  background-image: var(--bs-gradient);
  color: #fff;
}

.invoice-page-tabs .nav-link.active {
  background-color: var(--bs-dark);
  background-image: var(--bs-gradient);
  color: #ffffff8c;
}