#root {
  
  text-align: center;
}

.lcf-bg-primary {
  background-color: var(--lcf-bg-dark) !important;
}

.lcf-bg-secondary {
  background-color: var(--lcf-bg-light) !important;
}

.btn-primary {
  background-color: var(--lcf-btn-primary) !important;
  border-color: black;
}